#contentcontainer{
    height: auto;
}

#contentTable{
    margin-top: 5rem;
    width: 98%;
    margin-left: 1rem;
    border: darkred 0.3rem solid;
    background-color: #333;
}

#contentRow{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#catlist{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 0;
    overflow: hidden;
    background-color: #333;
    border:darkred 2px solid;
    position: fixed;
    width: 100%;
    left: 0;
    top: 3.25rem;
}

.sub{
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: Anime;
    font-size: 10px;
}

.subtext{
    color: white;
}