#contentcontainer{
    height: auto;
}

#contentTable{
    margin-top: 5rem;
    width: 98%;
    margin-left: 1rem;
    border: darkred 0.3rem solid;
    background-color: #333;
}

#catlist{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 0;
    overflow: hidden;
    background-color: #333;
    border:darkred 2px solid;
    position: fixed;
    width: 40%;
    top: 3.25rem;
    margin-left: 30%;
}

.sub{
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: Anime;
    font-size: 15px;
}

.subtext{
    color: white;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.flex > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}